@charset "utf-8";

*{
    margin:0;
    padding: 0;
    border: none;
}

body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.table{
	width: 1500;
	border: 1;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}