@charset "utf-8";

*{
    margin:0;
    padding: 0;
    border: none;
}

body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.today{
    width: 400px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
    position: absolute;
    left: 10%;
}

.today > h4{
    font-size: 24px;
    color: #b6e3e9;
}

.payday{
	width: 400px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
    position: absolute;
    left: 10%;
}

.payday > h4{
	font-size: 24px;
	color: #b6e3e9;
}

.dogList{
	font-size: 24px;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dogList > h1{
	font-size: 34px;
	color: #b6e3e9;
	margin-bottom: 20px;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dogList > table{
	border-collapse: collapse;
	width: 100%;
	float: left;
	margin: 0 0 2em;
	
	thead{
		border-bottom: 3px solid #ffffe0;
	
		th{
			padding: 0.35em 0 .35em;
			font-weight: 400;
			text-align: left;
			font-size: 1.25em;
		}
	}
	
	tbody{
		border-bottom: 3px solid #ffffe0;
		
		tr{
			border-bottom: 2px solide #ddd;
			
			td{
				padding: .75em 0;
			}
		}
	}
	
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}