@charset "UTF-8";

body{
	padding: 30px;
	
	font-family: "Gaegu", serif;
    font-weight: 700;
    font-style: normal;
}

h1{
	font-size: 35px;
    text-align: center;
    color: black;
    margin-bottom: 50px;
    background: #b6e3e9;
    padding: 10px;
    border-radius: 20px;
}
