@charset "UTF-8";

h1{
	position: absolute;
	
	font-size: 25px;
	font-family: "Gaegu", serif;
    font-weight: 700;
    font-style: normal;
    left: 47%;
    top: 35%;
    float: left;
    color: #b6e3e9;
}

table{
	position: absolute;
  	width: 80%;
  	table-layout: fixed;
  	
  	border: 3px solid #fadee1;
  	border-collapse: collapse;
  	
  	text-align: center;
  	top: 40%;
  	left: 10%;
}

table > thead{
	height: 50px;
	border: 2px dotted #fadee1;
	
	font-size: 20px;
	font-family: "Gaegu", serif;
    font-weight: 700;
    font-style: normal;
}

td{
	border-bottom: 3px dotted #fadee1;
	padding: 10px;
}

th{
	padding: 10px;
	
}

button[type="submit"]{
	background-color: #fadee1;
	
	width: 40px;
	height: 40px;
	border-radius: 10px;
	border: 1px solid pink;
	
	font-size: 15px;
	font-family: "Gaegu", serif;
    font-style: normal;
	
	position: absolute;
	left: 90%;
	top: 90%;
}


button[type="button"], input[type="submit"]{
	background-color: #ffffff;
	
	width: 40px;
	height: 40px;
	border-radius: 20px;
	border: 3px dotted pink;
}
